// Set Text Color
@function set-text-color($bgcolor) {
  @if (lightness($bgcolor) > 50) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Transform Mixin
@mixin btn-transform {
  cursor: pointer;
  box-shadow: 0 0.2rem 1.9rem 0 rgba(86, 185, 235, 0.4);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
