// Set Text Color
// @function set-text-color($bgcolor) {
//   @if (lightness($bgcolor) > 50) {
//     @return #333;
//   } @else {
//     @return #fff;
//   }
// }

// Transform Mixin
@mixin btn-transform {
  cursor: pointer;
  box-shadow: 1pt 3pt 2pt 1pt rgba(86, 185, 235, 0.4);
  transform: translateY(-0.3rem);
  transition: transform 150ms;
}

@mixin btn-transform2 {
  cursor: pointer;
  box-shadow: 0pt 0pt 2pt 2pt #add8e6;
  // transform: translateY(-0.6rem);
  // transform: scale(1.08);
  transition: transform 150ms;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

// Fadein animation
@keyframes fadeIn {
  0% {
    top: 450px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 350px;
  }
}
// Shake animation
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
