@import "variables";
@import "functions";

:root {
  background-color: #ecf5ff;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  color: $dark-color;
  // Cannot select any element
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-drag: none;
}

h1 {
  font-size: 5.4rem;
  color: $primary-color;
  margin-bottom: 5rem;
}

h1 span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

h3,
h4 {
  margin-bottom: 1rem;
}
// Utilities
.container {
  padding: 10px 0;
  width: 80rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  max-height: 90vh;
  margin: 0 auto;
  margin-top: 20px;
  padding: 2rem;

  &.play {
    box-shadow: 0 0.2rem 1rem 0 rgba(86, 185, 235, 0.8);
    height: 550px;
  }

  &.highscores {
    box-shadow: 0 0.2rem 1rem 0 rgba(86, 185, 235, 0.8);
    width: 400px;
  }
}

.logo {
  background-image: url(../icons/logo_m.png);
  background-repeat: no-repeat;
  // position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 2rem auto 9rem auto;
  height: 137px;
  width: 484px;
  display: block;
}

// Text colors
.text {
  &-primary {
    color: $primary-color;
  }
  &-secondary {
    color: $secondary-color;
  }
  &-light {
    color: $light-color;
  }
  &-dark {
    color: $dark-color;
  }
}

// Background colors
.bg {
  &-primary {
    background-color: $primary-color;
  }
  &-secondary {
    background-color: $secondary-color;
  }
  &-light {
    background-color: $light-color;
  }
  &-dark {
    background-color: $dark-color;
  }
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

// Buttons
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid $primary-color;
  margin-bottom: 1rem;
  text-decoration: none;
  color: $primary-color;
  background-color: $light-color;

  &:hover {
    @include btn-transform;
  }

  &:active {
    background-color: #e8f4f8;
    transform: scale(0.95);
  }

  &[disabled] {
    opacity: 0.5;
  }

  &[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform-origin: none;
  }
  &-scale {
    &1-2 {
      font-size: 3rem;
      width: 24rem;
      padding: 1.5rem 0;
      // transform: scale(1.2);
      margin-top: 2rem;
    }
    &1-5 {
      transform: scale(1.5);
    }
    &2 {
      transform: scale(2);
    }
  }
}

// Scale

// Index page

// Game setup page
#setup {
  margin-top: 11rem;
  & h2 {
    font-size: 3.5rem;
    padding-left: 30px;
    color: $primary-color;
    margin-bottom: 1rem;
    justify-self: flex-start;
  }
}

.setup {
  box-shadow: 0 0.2rem 1rem 0 rgba(86, 185, 235, 0.8);
  padding: 10px 0;
  align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
}

// Tooltip styles
.container-header {
  display: flex;
  flex-direction: row;
  .info {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border: 0.1rem solid $primary-color;
    border-radius: 50%;
    transition: background-color 300ms ease-in-out;

    i {
      color: $primary-color;
      font-size: 1.4rem;
    }

    .tooltip-text {
      width: 170px;
      position: fixed;
      display: block;
      opacity: 0;
      visibility: hidden;
      background-color: $primary-color;
      color: $light-color;
      font-size: 1.4rem;
      font-weight: bold;
      padding: 6px 17px;
      box-shadow: 0 0.2rem 1rem 0 rgba(86, 185, 235, 0.8);
      border-radius: 10px;
      z-index: 8;
    }
  }
  .info:hover {
    background-color: $primary-color;
    i {
      color: $light-color;
    }
    .tooltip-text {
      opacity: 1;
      visibility: visible;
    }
  }
  // .info:active {
  //   background-color: #e8f4f8;
  //   transform: scale(0.95);
  // }

  .category-container & {
    justify-self: flex-start;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .length-container & {
    justify-self: flex-start;
    grid-column-start: 1;
    grid-column-end: 4;
    // left: 275px;
  }
  .difficulty-container & {
    justify-self: flex-start;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.category-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1.5rem;
  padding: 25px 0;

  .category {
    background-color: $light-color;
    border: 0.1rem solid $primary-color;
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 30%;
    overflow: hidden;

    &-hidden {
      position: relative;
      background-color: $light-color;
      height: 100%;
      top: -100%;
      left: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 1000ms cubic-bezier(0, 1, 0.5, 1);
      pointer-events: none;
    }

    &-displayed {
      background-color: $light-color;
      position: relative;
      height: 100%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1000ms cubic-bezier(0, 1, 0.5, 1);
      pointer-events: none;
    }

    & p {
      font-size: 1.9rem;
      font-weight: bold;
      pointer-events: none;
    }

    & i {
      font-size: 5rem;
      pointer-events: none;
    }

    .long-text {
      font-size: 1.4rem;
    }

    &:hover {
      @include btn-transform2;
      .category-displayed {
        transform: translateX(-100%);
        // transition: all 1000ms cubic-bezier(0, 1, 0.5, 1);
      }
      .category-hidden {
        left: 0;
        // transition: all 1000ms cubic-bezier(0, 1, 0.5, 1);
      }
    }
    &:active {
      .category-hidden {
        background-color: #e8f4f8;
      }
      .category-displayed {
        background-color: #e8f4f8;
      }
      transform: scale(0.95);
    }
  }
}

.length-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  padding: 25px 0;
}

.difficulty-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  padding: 25px 0;
}

.btn-selected {
  background-color: $primary-color;
  color: $light-color;
  transition: transform 100ms ease-in;
  .category-container & {
    background-color: $primary-color;
    box-shadow: 0 0 3px 3px rgba(138, 43, 226, 0.4);
  }

  & .category-displayed {
    background-color: $primary-color;
    color: $light-color;
  }

  & .category-hidden {
    background-color: $primary-color;
    color: $light-color;
  }

  p {
    color: $light-color;
  }

  i {
    color: $light-color;
  }
}

.pageChange {
  display: flex;
  flex-direction: row;
  a {
    text-decoration: none;
    color: $primary-color;
    font-size: 2.2rem;
  }
  .back {
    width: 120px;
    height: 45px;
    border-radius: 50px;
  }
  .start {
    width: 120px;
    height: 45px;
    margin-left: 20px;
    border-radius: 50px;
    background-color: #56a5eb;

    a {
      color: $light-color;
    }
    &:active {
      background-color: #145da0;
    }
  }
}

// Game Start page
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(86, 165, 235, 0.25);
  background: $light-color;
  --webkit-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  transition: background-color 500ms;

  &:hover {
    @include btn-transform;
  }

  &:active {
    background-color: #add8e6;
    transform: scale(0.97);
  }
}

#question {
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background: $primary-color;
  color: $light-color;
}

.choice-text {
  padding: 1.5rem;
}

// Page Loader
.loader {
  border: 10px solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: orange transparent transparent;
  animation: spin 0.5s linear infinite;
  position: fixed;
  margin: auto;
}

// HUD
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid $primary-color;
  margin-top: 1.5rem;

  #progressBarFull {
    height: 3.4rem;
    background-color: $primary-color;
    width: 0%;
    transition: width 300ms;
  }
}

#score {
  transition: color 500ms;
}

// End page
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#endContainer {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 450px;
  max-height: 650px;
  display: flex;
  background: $light-color;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 40px;
  box-shadow: 0 0.2rem 1rem 0 rgba(86, 185, 235, 0.5);
}

#end {
  &Hero {
    text-align: center;
    width: 100%;
    font-size: 8rem;
    color: $secondary-color;
    margin-bottom: 4rem;
  }
  &Descr {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  span {
    &#finalScore {
      font-size: 5.4rem;
      font-weight: 900;
      color: $secondary-color;
      margin-bottom: 3rem;
      border-radius: 30px;
      background-color: rgba(152, 251, 152, 0.1);
      text-align: center;
      width: 70%;
      box-shadow: inset 0 0 4px #8fbc8f;
    }
  }
}

input {
  margin-bottom: 3rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 10px;
  border: 2pt solid rgba(0, 255, 255, 0.8);
  text-align: center;
  // font-weight: bold;
  outline: none;
  &::placeholder {
    // text-align: center;
    color: #adadad;
  }
}

.alertBgOverlay {
  background: rgba(114, 188, 212, 0.8);
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  overflow: hidden;
  transition: background 700ms ease;
}

.alertBox {
  position: absolute;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  height: 55px;
  background: $light-color;
  padding-right: 10px;
  box-shadow: 0 0.4rem 1.5rem 0 rgba(0, 0, 0, 0.3);
  border: #4ed34e solid 1px;
  border-radius: 13px;
  z-index: 10;
  animation: fadeIn ease 1000ms;

  .alertStatus {
    text-align: center;
    font-size: 3.5rem;
    width: 60px;
    height: 100%;
    color: $light-color;
    border-radius: 11px 0 0 11px;
  }
  .alertText {
    color: $secondary-color;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 10px;
    padding-top: 0;
  }
  .success {
    background: #4ed34e;
  }
  .error {
    background: #ff6961;
  }
}

/* The close button */

// Highscores page
#highScoresList {
  list-style: none;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;

  &:hover {
    transform: scale(1.025);
  }
}

.hsInfo {
  font-size: 2.8rem;
}

.li {
  // word-spacing: 150px;
}
